In [156]:
import pandas as pd
import os
import psycopg2

# !pip install sqlalchemy

import requests
import base64
from dotenv import load_dotenv
load_dotenv()

True

In [15]:
connection = psycopg2.connect(user="postgres",
                                      password="postgres",
                                      host="127.0.0.1",
                                      port="5433",
                                      database="spotify")
cursor = connection.cursor()
cursor.execute(
    """
    DROP TABLE IF EXISTS streaming_history CASCADE;
    """)
connection.commit()
cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS streaming_history (
      track_name  text NOT NULL,
      artist_name varchar(255) NOT NULL,
      end_time date NOT NULL
    )
    """)
connection.commit()
cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS marquee (
      segment varchar(255) NOT NULL,
      artist_name varchar(255) NOT NULL,
    )
    """)
connection.commit()

In [17]:
path = '/Users/williamlim/dev/spotify/files/data'
obj = os.scandir(path)
combined_df = pd.DataFrame()
for entry in obj:
    if entry.is_file() and entry.name.startswith("StreamingHistory"):
        df = pd.read_json(entry.path)
        combined_df = pd.concat([combined_df,df], ignore_index=True)
    elif entry.is_file() and entry.name.startswith("Marquee"):
        marquee = pd.read_json(entry.path)
combined_df.rename(columns = {'endTime':'end_time', 'trackName': 'track_name', 'msPlayed': 'ms_played', 'artistName':'artist_name'}, inplace = True)
combined_df.to_sql('streaming_history', con='postgresql://postgres:postgres@localhost:5433/spotify', if_exists='replace', 
          index=False) 
marquee.rename(columns = {'artistName':'artist_name'}, inplace = True)
marquee.to_sql('marquee', con='postgresql://postgres:postgres@localhost:5433/spotify', if_exists='replace', 
          index=False)

387

In [158]:
# Request access token
client_id = os.environ.get("ID_SPOTIFY")
client_secret = os.environ.get("SECRET_SPOTIFY")
encoded = base64.b64encode((client_id + ":" + client_secret).encode("ascii")).decode("ascii")
headers = {
     "Content-Type": "application/x-www-form-urlencoded",
     "Authorization": "Basic " + encoded
}
payload = {
     "grant_type": "client_credentials"
}
response = requests.post("https://accounts.spotify.com/api/token", data=payload, headers=headers)
access_token = response.json()['access_token']

In [68]:
headers = {
  "Authorization": "Bearer " + access_token
}
response = requests.get("https://api.spotify.com/v1/search?q=Olivia&type=artist", headers=headers)

In [159]:
sql_query = pd.read_sql_query ('''
                               SELECT
                               *
                               FROM streaming_history
                               ''', connection)

new_df = pd.DataFrame(sql_query, columns = ['artist_name'])

/var/folders/dm/hjrdd20x5p9b8s7kc2g1q9900000gn/T/ipykernel_30679/3894535827.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sql_query = pd.read_sql_query ('''

In [161]:
new_df.loc[:,['artist_name']].drop_duplicates()

                   artist_name
0                  Teman Tidur
1                    Lil Nas X
2                 Harry Styles
3                    SAINt JHN
4                 Taylor Swift
...                        ...
9673   Daryl Hall & John Oates
9681                      BE'O
9903          Maggie Lindemann
10233                 Eddy Kim
10264             Uhm Jung Hwa

[803 rows x 1 columns]

In [111]:
artists = combined_df.loc[:,['artist_name']].drop_duplicates()
artists['image'] = ''
artists['id'] = ''
artists['url'] = ''
artists.reset_index( inplace=True, drop=True)

In [146]:
for index, row in artists.iterrows():
    headers = {
    "Authorization": "Bearer " + access_token
    }
    search_params = {
        'type': 'artist',
        'q': row['artist_name'],
    }
    print(index)
    response = requests.get("https://api.spotify.com/v1/search", headers=headers, params=search_params)
    if len(response.json()['artists']['items']) == 0:
        continue
    artists.at[index,'id'] = response.json()['artists']['items'][0]['id']
    if len(response.json()['artists']['items'][0]['images']) != 0:
        artists.at[index,'image'] = response.json()['artists']['items'][0]['images'][0]['url']
    artists.at[index,'url'] = response.json()['artists']['items'][0]['external_urls']['spotify']
    

artists.to_sql('artists', con='postgresql://postgres:postgres@localhost:5433/spotify', if_exists='replace', 
          index=False)

769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802

In [ ]:
# Delete missing artist
cursor.execute(
    """
    DELETE
    FROM "artists"
    WHERE url = ''
    """)
connection.commit()